*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-small) {
    font-size: 56.25%;
  } */
}

body {
  box-sizing: inherit;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Baskervville", Helvetica, Arial, sans-serif;
}

h1 {
  line-height: 1.125;
}

h2 {
  line-height: 1.25;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
