.tabs {
  display: flex;
  margin-bottom: 6.3rem;
}

.tabs__nav {
  margin: auto;
}

.tabs__ul {
  display: flex;
}

.tabs__ul li {
  border-radius: 2px;
  border: solid 1px #d6d6d6;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;

  width: 98px;

  text-align: center;

  padding: 3px;
}

.tabs__ul li:hover {
  cursor: pointer;
}

.tabs__ul .tabs__nav-active {
  color: #1797ff;
  border: solid 1px #1797ff;
}

.news-selector {
  padding-bottom: 38px;
}

.news-list {
}

.news-list__container {
  display: flex;
  flex-wrap: wrap;

  gap: 3rem 4rem;
}

.news-list__no-data {
  text-align: center;
}
